.team-container {
  text-align: center;
  padding: 32px;
  background-color: #d9f7e9;
}

.team-container h3 {
  font-size: 32px;
  border-bottom: 4px solid #57c278;
  padding-bottom: 8px;
  display: inline-block;
}