.team-container {
  text-align: center;
  padding: 32px;
  position: relative;

}

.team-container h3 {
  font-size: 32px;
  border-bottom: 4px solid #57c278;
  padding-bottom: 8px;
  display: inline-block;
}

.team-container .team-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.input-color {
  position: absolute;
  top: 20px;
  right: 50px;
}
